.info{
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 4px #EBEBEB;
}
.alert{
    font-size: 16px;
    font-weight: 600;
    color: #0047AB;
    margin: 0 0 0 0;
    line-height: 20px;
}
@media only screen and (max-width: 600px){
    .alert{
        font-size: 12px;
    }
}